@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* Reset default margin and padding */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

/* Centering content within the viewport */
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure full viewport height */
  font-family: "Inter", sans-serif;
  text-align: center; /* Center text within .center */
}

.center h1 {
  color: #333; /* Adjust color as needed */
  margin-bottom: 10px; /* Optional: Add margin to separate from h2 */
  font-weight: bolder;
}

.center h2 {
  color: #666; /* Adjust color as needed */
  margin-bottom: 20px; /* Optional: Add more space below h2 */
  font-weight: bold;
}

.spotifyButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1db954; /* Spotify green */
  color: white;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

.spotifyButton:hover {
  background-color: #1ed760;
}

/* Flexbox container */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  box-sizing: border-box; /* Ensure padding is included in the total width */
}

.left-box {
  flex: 1;
  display: flex;
  justify-content: flex-end; /* Right align content */
  margin-right: 20px; /* Half of the gap between the boxes */
}

.right-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Left align content */
  margin-left: 20px; /* Half of the gap between the boxes */
}

/* Button Styles */
.time-button-container {
  display: flex;
  gap: 10px; /* Adjust as needed */
}

.time-button {
  text-align: center;
  padding: 10px 20px;
  color: black;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50px; /* Adjust the value to control the roundness */
  cursor: pointer;
}

.time-button:hover,
.time-button:active {
  color: white;
  background-color: green;
  border: 1px solid black;
}

.time-button.active {
  color: white;
  background-color: green;
  border: 1px solid black;
}

/* Styles for the receipt container */
.receiptContainer {
  background-image: url(wrinkled-paper.jpg);
  background-repeat: repeat;
  background-size: cover;
  font-weight: 550;
  width: 300px;
  filter: brightness(105%);
  padding: 20px;
  text-transform: uppercase;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  max-height: max-content; /* Set max height to ensure it doesn't reach the bottom */
  color: black; /* Set text color to black */
}

.logo {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 1000; /* Increase font thickness */
  font-size: 2.3rem;
  text-align: center;
  color: black;
  margin-bottom: 15px; /* Reduce space below logo */
}

p,
table,
.date {
  font-family: "receipt", "Courier New", Courier, monospace;
  color: black; /* Set text color to black */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

td {
  color: black; /* Set text color to black */
}

.tracks {
  margin: 5px 0;
}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

td.name {
  width: 700px; /* Adjust this value to increase the width of the song name column */
  padding-left: 1.2rem;
}

.name a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color from parent */
}

.space {
  height: 10rem;
}

/* Add borders to specific rows */
.header-row td {
  border-top: 1px dashed #555; /* Add top dashed border with dark gray color */
  border-bottom: 1px dashed #555; /* Add bottom dashed border with dark gray color */
}

.total-counts td {
  border-top: 1px dashed #555;
  text-align: left;
}

.total-counts-end td {
  border-bottom: 1px dashed #555;
  text-align: left;
}

.songs {
  text-align: left;
}

.period,
.date,
.order {
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.date {
  padding-bottom: 5px;
}

.thanks {
  text-align: center;
}
