<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>Listify</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <p>Logo</p>
      </div>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('privacy') }}">Privacy Policy</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
      </ul>
      <div class="menu-icon"></div>
    </nav>
    <div class="center">
      <h1>Welcome</h1>
      <h2>Your Spotify Receipts</h2>
      <a href="{{ url_for('login') }}" class="spotifyButton">
        Log in with Spotify
      </a>
    </div>
  </body>
</html>
