<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Trackify Receipt</title>
  </head>
  <body>
    <div class="flex-container">
      <div class="left-box">
        <div class="receipt">
          {% from 'macros.html' import receiptContainer %} {{
          receiptContainer(user_name, top_tracks, id, duration_text,
          currentTime, card_number, auth_code, get_spotify_track_link) }}
        </div>
      </div>
      <div class="right-box">
        <h1>Welcome, {{ user_name }}</h1>
        <h2>Here's your Trackify Receipt</h2>
        <div class="time-button-container">
          <form id="durationForm" action="/trackify" method="post">
            <button
              type="submit"
              name="duration"
              value="short_term"
              class="time-button {% if duration == 'short_term' %}active{% endif %}"
            >
              Last Month
            </button>
            <button
              type="submit"
              name="duration"
              value="medium_term"
              class="time-button {% if duration == 'medium_term' %}active{% endif %}"
            >
              Last 6 Months
            </button>
            <button
              type="submit"
              name="duration"
              value="long_term"
              class="time-button {% if duration == 'long_term' %}active{% endif %}"
            >
              Last Year
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="space"></div>

    <script>
      // Add event listener to each button to toggle active class
      document.querySelectorAll(".time-button").forEach((button) => {
        button.addEventListener("click", function () {
          document
            .querySelectorAll(".time-button")
            .forEach((btn) => btn.classList.remove("active"));
          this.classList.add("active");
        });
      });
    </script>
  </body>
</html>
